---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <p>This is my first blog. Hope u like it.</p>
  <p>Ini untuk di push di dev</p>
</BaseLayout>